/*
 * Copyright © 2024 Charles Theetten
 * Tous droits réservés.
 */

.button {
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-background-radius: 15px;
}

.label {
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
}

#score {
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
}

#board {
    -fx-background-color: #000000;
}

#footBar {
    -fx-background-color: #D6DBDF;
}
